body{
  font-family: 'Raleway', "Trebuchet MS", sans-serif;
  /* background: #333; */
  /* background-image: linear-gradient(to bottom right, #9e22cb, #1e029a, #dc0cd2, #470c98, #1e029a); */
    /* Fallback color in case gradient is not supported */
  /* background-color: #1e029a; */
  /* color: #fff; */
  /* color: rgb(197, 243, 245); */
  line-height: 1.6;
  height: 100vh;
  overflow: hidden;
}

.title-header {
  font-family: 'Roboto';
}
