<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- <link rel="stylesheet" href="static/css/base.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

    {% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    {% endblock %}



    <title>NotFB</title>
</head>
<body>

    <!-- Navbar -->
    <nav>
        <ul>
        <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
        <li><a href="{{ url_for('profile.view_profile', username=current_user.username) }}">Profile</a></li>
        <li><a href="{{ url_for('friends.friends') }}">Friends</a></li>
        <l1><a href="{{ url_for('friends.incoming_requests') }}">Friend Requests</a>
        </l1>
        <li class="nav-right"><a href="{{ url_for('logout') }}">Logout</a></li>
    </ul>
    </nav>
    <header>
        <!-- <h1 class="title-header">Welcome to NotFB</h1> -->
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 NotFB</p>
    </footer>
</body>
</html>
